PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/smartplacement
JWT_SECRET=change_this_to_a_strong_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
GOOGLE_CLIENT_ID=956957651401-t288uajvkvi89evk8c71skvlodn632m8.apps.googleusercontent.com
PORT=5000
MONGO_URI=mongodb://localhost:27017/smartplacement
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production
JWT_EXPIRES_IN=7d
CLIENT_URL=http://localhost:5173
NODE_ENV=development
